body {
  background-image: url(../images/SK-A-2963.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 0;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 1.1rem;
}

.title,
.subtitle {
  color: white;
  text-align: center;
  user-select: none;
}

#gstart {
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px grey solid;
  user-select: none;
  text-align: center;
}
