.start-page {
  background-image: url(../images/SK-A-2963.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 0;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 1.1rem;
}

.title,
.subtitle {
  color: white;
  text-align: center;
  user-select: none;
}

#gstart {
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px 30px;
  border: 0.2px white solid;
  user-select: none;
  text-align: center;
  outline: none;
  transition: background-color 1s ease;
  transition: color 0.5s ease;
}

.century {
  margin: 20px 20px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  border-radius: 20px;
  user-select: none;
  width: 50%;
  padding: 10px 30px;
  outline: none;
}

#next,
#previous {
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px black solid;
  user-select: none;
  text-align: center;
  outline: none;
  transition: background-color 1s ease;
  transition: color 0.5s ease;
  margin-top: 20px;
}

#gstart:hover,
.century:hover,
#next:hover,
#previous:hover {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}

.page2-bg {
  background-image: url(../images/SK-A-2344.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.title-page-2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 3rem;
  color: white;
  user-select: none;
}

.header-bg {
  background-color: rgb(0, 0, 0, 0.7);
  margin: 20px 10px;
  padding: 0 15px;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .form-container {
    max-height: 65%;
  }

  .header-bg,
  .title-page-2 {
    height: 20%;
    font-size: 2rem;
  }

  .century {
    margin: 10px 0;
  }
}

.century-onclick {
  background-color: black;
  color: white;
  margin: 20px 20px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.3rem;
  border-radius: 20px;
  user-select: none;
  width: 50%;
  padding: 10px 30px;
  outline: none;
}

.next-button {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(4deg) brightness(106%) contrast(110%);
  user-select: none;
  cursor: pointer;
  padding-bottom: 5px;
}

.app-bg {
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}

header h1 {
  font-weight: 500;
  margin-top: 5px;
}

.confirm-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 3rem;
  user-select: none;
  margin-bottom: 5px;
}

.check {
  user-select: none;
  padding-bottom: 10px;
}

.row-page3 {
  user-select: none;
}
